.btn{
    font-weight: 400;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: transform 0.3s ease;
    height: 48px;
}

.btn:hover {
    transform: translateY(-3px);
}

/* Button Colos and Styles */
.btn--primary--solid{
    background-color: #070F4A;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 12px;
}

.btn--green--solid{
    background-color: #34C38F;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 12px;
}


.btn--danger--solid{
    background-color: #E72E1E;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 12px;
}


.btn--grey--solid{
    background-color: #828282;
    color: #FFFFFF;
    border: none;
    font-weight: 600;
    font-size: 14px;
}

.btn--primary--outline{
    background-color: transparent;
    border: 2px solid #FFFFFF;
}

.btn--orange--solid{
    background-color: var(--orange);
    color: var(--white);
    border: none;
}
.btn--orange--primary{
    background-color: var(--orange);
    color: var(--primary);
    border: none;
}

.btn--white--outline{
    background-color: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    display: none;
} 

.btn--danger--outline{
    background-color: transparent;
    border: 1px solid #FF5E65;
    color: #FF5E65;
} 

/* Button Sizes */
.btn--large{
    width: 125px;
    height: 40px;
}

.btn--medium{
    width: 182px;
}

.btn--small{
        width: 182px;
}

.btn--big{
    font-size: 13px;
    background-color: #556EE6;;
    width: 102px;
}

.btn--table{
    width: 84px;
    height: 24px;
    font-size: 11px !important;
    font-weight: 400;
}

.btn--xl--primary {
    padding: 0 1.5rem;
}